<% bp = @boat.present? %>
<div class="main">
	<div class="form-wrapper pretty-form">
		<button type="button" style="position: relative;bottom: 10px;" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= content_tag :p, "Create a New Job for #{@boat.name}", class: 'banner' %>
		<%= form_for @job, remote: true do |f| %>
			<div class="input-wrapper pos-r">
				<%= f.text_field :name, class: "pretty-input", autofocus: true %>
				<%= content_tag :span, 'Name', class: 'placeholder-text' %>
				<%= content_tag :span, 'Name must be unique', class: 'hint' %>
			</div>
			<div class="input-wrapper">
				<%= f.label :origin, "Origin" %>
				<%= f.select :origin, options_for_select(['Sweden', 'USA', 'China', 'Thailand', 'Norway'], (bp ? @boat.location : '')), {}, {class: "pretty-input #{'disabled' if bp}", disabled: (bp ? true : false)} %>
				<%= f.hidden_field :origin, value: (bp ? @boat.location : '') %>
			</div>
			<div class="input-wrapper">
				<%= f.label :destination, "Destination" %>
				<%= f.select :destination, ['Sweden', 'USA', 'China', 'Thailand', 'Norway'], {}, {class: "pretty-input"} %>
			</div>
			<div class="input-wrapper pos-r">
				<%= f.text_field :number_of_containers, class: "pretty-input" %>
				<%= content_tag :span, 'Number of Containers', class: 'placeholder-text' %>
			</div>
			<div class="input-wrapper pos-r" id="cost">
				<%= f.text_field :cost, minimum: 1000, class: "pretty-input" %>
				<%= content_tag :span, '$', class: 'dollar-sign' %>
				<%= content_tag :span, 'Cost', class: 'placeholder-text' %>
				<%= content_tag :span, 'Cost must be greater than $1000', class: 'hint' %>
			</div>
			<div class="input-wrapper pos-r">
				<%= f.text_area :description, class: "pretty-input", minlength: 50, onFocus: "this.select();" %>
				<%= content_tag :span, 'Description', class: 'placeholder-text' %>
				<%= content_tag :span, '50', class: 'char-count color-red' %>
				<%= content_tag :span, 'Description must be 50 characters or more', class: 'hint' %>
			</div>
			<%= hidden_field_tag 'boat[boat_id]', @boat.id %>
			<%= f.submit "Create", :disable_with => 'Creating...', class: "green-button" %>
		<% end %>
	</div>
</div>
